@import './variable';

.card {
  height: 540px;
  margin: 16px;
  flex: 0 0 25%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color__white;
  transition: 0.2s ease;
  overflow: hidden;
  @include border-radius;
  @include box-shadow;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
    @include border-radius;
  }

  &:hover {
    cursor: pointer;

    &::before {
      background-color: rgba(0, 0, 0, 0.55);
    }
  }

  &__column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: $margin--left;
  }

  &__text {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 0;
    padding: 16px;
    z-index: 9;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    pointer-events: none;

    h2 {
      word-break: keep-all;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__text--date {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
  }

  &__tag {
    padding: 0 16px;
    position: absolute;
    top: 16px;
    display: flex;
    align-items: baseline;

    &__image {
      width: 16px;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }

    span {
      margin-right: 4px;
      display: inline-flex;
      border: 1px solid $color__pink;
      border-radius: 100px;
      padding: 0 6px;
      line-height: 1.75;
      font-size: 12px;
    }
  }

  @media (min-width: 1920px) {
    &__column {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (max-width: $lg) {
    margin: 2vw;

    &__column {
      margin: 1vw;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: $md) {
    height: 180px;

    &__column {
      margin-bottom: 72px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__text {
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }

      &-date {
        font-size: 11px;
      }
    }
  }
}

// 슬라이더 스타일
.tns-outer {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  margin-left: $margin--left;

  @media (max-width: $md) {
    margin-left: 0;
  }
}

.tns-controls {
  position: fixed;
  bottom: 20vh;
  left: 10vw;

  button {
    width: 60px;
    height: 20px;
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.cindy.com/dev-event/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;

    &:nth-child(2n - 1) {
      transform: scaleX(-1);
    }
  }

  @media (max-width: $md) {
    top: inherit;
    bottom: 40vw;
    left: 8vw;
  }
}

.text-card {
  padding-left: 4vw;
  padding-right: 16vw;
  color: $color__white;
  user-select: none;

  &, h2, p {
    cursor: grab;
  }

  h2 {
    font-size: 68px;
    font-weight: bold;
    letter-spacing: -1px;
    color: $color__gray-80 !important;
    background: -webkit-linear-gradient(top, $color__white, $color__white);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }

  p {
    margin: 16px 0 72px 0;
    font-size: 16px;
    text-align: right;
    font-weight: 400;
  }

  button {
    width: 140px;
    height: 48px;
    outline: none;
    border: 1px solid $color__pink;
    background-color: transparent;
    color: $color__white;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
  }

  @media (max-width: $md) {
    h2 {
      font-size: 44px;
    }

    p {
      font-size: 14px;
    }

    button {
      width: 120px;
      height: 40px;
      font-size: 13px;
    }
  }
}
