.filter {
  width: auto;
  height: auto;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: -100%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transform: translateX(-50%);
  transition: 0.3s cubic-bezier(0.5, 0.4, 0, 1);

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &--grid {
    padding: 16px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $color__white;
    background-color: $color__black;
  }

  &__box {
    button {
      cursor: pointer;
      outline: none;
      border: none;
      transition: 0.2s ease;
    }
  }

  &__button {
    margin: 0 auto 24px auto;
    padding: 0 16px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: $color__white;
    position: relative;
    background-color: inherit;

    &::before {
      content: '';
      width: 4px;
      height: 4px;
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color__white;
      border-radius: 100%;
    }

    &__wrap {
      margin: 0 3vw;
      position: relative;
    }

    &--active {
      color: $color__sky;
    }
  }

  &__button--icon {
    background-color: inherit;
    position: absolute;
    top: calc(50% - 8px);
    right: 3vw;
    transform: translateY(-50%);

    img {
      width: 20px;
    }
  }

  &__button--close {
    background-color: inherit;
  }

  &--pointer {
    width: 100%;
    height: 380px;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: $color__gray-90;
    transition: 0.4s cubic-bezier(0.6, 0.3, 0, 1);
    z-index: -1;
  }

  &--background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  &__title {
    margin-left: 36px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: $color__white;
  }

  @media (max-width: $md) {
    width: 100%;
    bottom: -100%;

    &--grid {
      grid-template-columns: repeat(4, 1fr);
    }

    &--active {
      bottom: 0;

      .filter--pointer {
        transform: rotate(0);
        animation: point 2s ease-in-out;
      }
    }
  }
}

.tag {
  margin: 12px 4px;
  font-weight: 400;
  opacity: 0.8;
  cursor: pointer;

  &--active {
    font-weight: 700;
    opacity: 1;
    background: -webkit-linear-gradient(45deg, $color__white, $color__pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: $md) {
    margin: 12px 0;
  }
}

@keyframes #{"point"} {
  0%, 50% {
    transform: rotate(-45deg);
  }

  50%, 100% {
    transform: rotate(0);
  }
}
