@import './variable';

.list {
  margin: 8px;
  padding: 16px;
  display: grid;
  color: $color__white;
  background-color: $color__gary-40;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    transform: rotate3d(1, 1, 1, 1deg);
  }

  &__wrap {
    margin: 16px 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__filter__box {
    margin-top: 60px;
  }

  &__title {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: $color__gray-20;
  }

  &__date {
    font-size: 12px;
    text-align: right;
    color: $color__gray-20;
  }

  &__image {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__tags {
    display: flex;
    font-size: 12px;

    span {
      margin-right: 4px;
      color: $color__white;
      font-weight: 300;
      border: 1px solid $color__pink;
      border-radius: 20px;
      padding: 2px 6px;
      opacity: 0.8;
    }
  }

  @media (min-width: 1920px) {
    &__wrap {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (max-width: $lg) {
    &__wrap {
      grid-template-columns: repeat(2, 1fr);
    }

    &__tags {
      display: none;
    }
  }
}