.search {
  width: calc(100% - 6vw);
  margin: 48px 3vw;

  input {
    width: 100%;
    padding: 0 4px;
    border: none;
    background: inherit;
    font-size: 40px;
    letter-spacing: -1.5px;
    color: $color__white;
    font-family: 'Barlow', sans-serif;
    border-left: 2px solid $color__white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      outline: none;
      border-left: none;
    }
  }
}
