@import 'card';
@import 'filter';
@import 'list';
@import 'navigation';
@import 'search';
@import 'splash';
@import 'custom';

#app {
  max-width: 1920px;
  margin: 0 auto;
}

#circle {
  width: 36px;
  height: 36px;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1),visibility .4s cubic-bezier(.165,.84,.44,1);
  border: 1px solid $color__sky;
  border-radius: 100px;
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#logo {
  width: 48px;
  position: relative;
  left: 16px;

  @media (max-width: $md) {
    width: 36px;
  }
}

#logo--github {
  width: 36px;
  margin-right: 16px;
  position: fixed;
  top: 16px;
  left: 24px;
  cursor: pointer;

  @media (max-width: $md) {
    width: 24px;
  }
}

.font-medium {
  font-weight: 500;
}

.title {
  margin-top: -16px;
  margin-bottom: 24px;
  margin-left: $margin--left;
  padding: 0 3vw;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  color: $color__white;

  @media (max-width: $lg) {
    margin-left: 0;
  }
}
