@import 'card';
@import 'filter';
@import 'navigation';
@import 'splash';
@import 'custom';

#circle {
  width: 36px;
  height: 36px;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1),visibility .4s cubic-bezier(.165,.84,.44,1);
  border: 1px solid $color__sky;
  border-radius: 100px;
  z-index: 999;
}

.logo__wrap {
  display: flex;
  align-items: center;
}

#logo {
  width: 60px;
  position: relative;
  top: 16px;
  left: calc(100% - 76px);
  transform: translateX(-100%);

  @media (max-width: $md) {
    width: 48px;
    left: calc(100% - 50px);
  }
}

#logo--github {
  width: 36px;
  margin-right: 16px;
  position: relative;
  top: 16px;
  left: calc(100% - 102px);
  transform: translateX(-100%);
  cursor: pointer;

  @media (max-width: $md) {
    width: 24px;
    left: calc(100% - 72px);
  }
}

.font-medium {
  font-weight: 500;
}
