.lexical-shell {
  margin-top: 6rem;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  position: relative;

  .wrapper {
    width: 100%;
    height: 100%;
    min-height: 480px;
    border: 1px solid #000;
    min-height: 480px;
    max-height: 480px;
    overflow-y: scroll;
  }

  .viewer {
    width: 100%;
    height: 480px;
    min-height: 480px;
    max-height: 480px;
    padding: 4px 6px;
    overflow-y: scroll;
  }
}

.content-editable {
  outline: none;
  height: 100%;
  width: 100%;

  .toolbar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, calc(-100%));
    z-index: 99;

    .state-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.4rem;

      .state-btn {
        padding: 0.4rem 1rem 0.3rem 1rem;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: rgb(169, 169, 169, 0.2);
        }

        &.active {
          background-color: rgb(169, 169, 169, 0.2);
        }
      }
    }
  }
}
