@import './color';

.header {
  height: 90px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color_gray-300;
  letter-spacing: -1.25px;

  select {
    height: 40px;
  }
}

.admin__calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  box-sizing: border-box;

  &--day {
    border-bottom: 1px solid #efefef;
  }
}

.month--picker {
  width: 280px;
  background-color: $color_white;
  position: absolute;
  top: 24px;
  left: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.125);
  z-index: 99;

  &__title {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.disabled {

}
