.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    height: 40px;
  }
}

.admin__calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  box-sizing: border-box;

  &--day {
    border-bottom: 1px solid #efefef;
  }
}

.admin--create__image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
