$color_gray-100: #F5F5F5;
$color_border: #DDDDDD;
$color_white: #FFFFFF;
$color_secondary: #687A92;
$color_red-600: #dc2626;
$color_red-200: #FECACA;
$color_red-100: #FEE2E2;
$color_red-50: #FEF2F2;
$color_blue-50: #EFF6FF;
