$color_gray-100: #F5F5F5;
$color_gray-200: #DEE1E5;
$color_gray-300: #DEDEDE;
$color_gray-700: #6E6E6E;
$color_gray-800: #272833;
$color_border: #DDDDDD;
$color_bg: #F5F6F8;
$color_white: #FFFFFF;
$color_secondary: #687A92;
$color_red-600: #dc2626;
$color_red-200: #FECACA;
$color_red-100: #FEE2E2;
$color_red-50: #FEF2F2;
$color_blue-50: #EFF6FF;
$color_blue-500: #1473E6;
$color_blue-700: #2E5AAC;
