.w-md-editor-text {
  min-height: 100% !important;
  letter-spacing: 0 !important;
  color: red;
}

.w-md-editor-text-input {
  letter-spacing: 0 !important;
  list-style-type : circle !important;
}


