@import './color';
@import './variables';

.form {
  max-width: 320px;
  margin: 0 auto;

  &__button {
    position: absolute;

    &--center {
      left: 50%;
      transform: translateX(-50%);
    }

    &--right {
      right: 0;
    }
  }

  input:not([type='checkbox']) {
    width: 100%;
    display: block;
    padding: 0 8px;
    border-bottom: 1px solid $color_gray-300;

    &::placeholder {
      color: $color_border;
      font-size: 16px;
    }
  }
}

.form--large {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 80px;
  position: relative;

  @media screen and (max-width: 1200px) {
    max-width: inherit;
    padding: 16px;
  }
}

.form__content {
  &__input {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;

    &--tag {
      margin-bottom: 8px;
    }

    &--tag-search {
      margin-left: $common-width;
    }
  }

  &__title {
    min-width: $common_width;
  }

  &--error {
    position: absolute;
    left: 120px;
    bottom: -20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color_red-600;

    svg {
      margin-top: -4px;
    }
  }

  &--all-tags {
    display: flex;
  }

  &--all-tags--popup {
    width: 200px;
    max-height: 400px;
    padding: 16px 16px 8px 16px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    font-size: 14px;
    color: $color_secondary;
    font-weight: 700;
    background: $color_white;
    box-shadow: $box__shadow;
    border: 1px solid $color_blue-50;
    border-radius: $border__radius;
    overflow-y: auto;

    button {
      min-width: 48px;
      display: block;
      margin-bottom: 8px;
      background: $color_blue-50;
      padding: 4px 8px;
      border-radius: 4px;
      text-align: left;
      font-weight: 500;
    }
  }

  &__list {
    width: calc(100% - #{$common_width});
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .react-datepicker-wrapper {
    max-width: fit-content;

    input:disabled {
      opacity: 0.5;
      background-color: $color_gray-300;
    }
  }

  .react-datepicker__tab-loop {
    position: absolute;
    top: 0;
  }
}
