@import './color';
@import './variables';

.form {
  max-width: 320px;
  margin: 0 auto;

  &__button {
    position: absolute;

    &--center {
      left: 50%;
      transform: translateX(-50%);
    }

    &--right {
      right: 0;
    }
  }

  input:not([type='checkbox']) {
    width: 100%;
    display: block;
    padding: 0 8px;
    border-bottom: 1px solid $color_gray-300;

    &::placeholder {
      color: $color_border;
      font-size: 16px;
    }
  }
}

.form--large {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 80px;
  position: relative;

  @media screen and (max-width: 1200px) {
    max-width: inherit;
    padding: 16px;
  }
}

.form__content {
  &__input {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &--date {
    display: inline-block;
  }

  &__title {
    min-width: $common_width;
  }

  &--error {
    position: absolute;
    left: 120px;
    bottom: -20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color_red-600;

    svg {
      margin-top: -4px;
    }
  }

  &--all-tags {
    display: flex;
    position: absolute;
    bottom: -8px;
    left: 120px;
    transform: translateY(100%);

    .form__content--modify & {
      bottom: 50%;
      transform: translateY(50%);
      margin-left: 8px;
    }
  }

  &--all-tags--popup {
    width: 140px;
    height: 200px;
    padding: 8px;
    position: absolute;
    left: $common_width;
    bottom: 12px;
    transform: translateY(100%);
    font-size: 14px;
    color: $color_secondary;
    font-weight: 700;
    background: $color_white;
    box-shadow: $box__shadow;
    border-radius: $border__radius;
    overflow-y: auto;

    button {
      display: block;
      padding: 8px 0;
    }
  }

  .react-datepicker-wrapper {
    max-width: fit-content;
  }

  .react-datepicker__tab-loop {
    position: absolute;
    top: 0;
  }
}
