@import './color';

.input--line {
  width: 100%;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid $color_gray-200;

  &:focus {
    box-shadow: none;
    border-color: $color_gray-200;
  }

  &__border {
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: slideLeft 0.25s ease-out 0s forwards;
    border-bottom: 1px solid $color_blue-500;
  }

  @keyframes slideLeft {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}


