@import './color';
@import './variables';
$create_button_height: 48px;

.list {
  padding: 36px 48px 56px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.125);
  background-color: $color_white;
  border-radius: $border__radius / 2;
}

.list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    padding: 6px 12px;
    font-size: 26px;
    font-weight: 700;
    border-radius: $border__radius;
    background-color: $color_gray-100;

    &:hover {
      background-color: $color_gray-200;
    }
  }
}

.list__search {
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border: 1px solid $color_border;
  border-radius: $border__radius * 2.5;
  font-size: 14px;

  input {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    background-color: transparent;
  }
}

.list--group {
  position: relative;
  cursor: pointer;

  &__button {
    display: none;
    position: absolute;
    width: 72px;
    background: $color_white;
    box-shadow: $box__shadow;
    border-radius: $border__radius / 2;
    padding: 16px 0;
    z-index: 9;

    button {
      display: inherit;
      margin: 0 auto;
      padding: 8px 16px;
      border-radius: $border__radius / 2;

      &:first-child:hover {
        background: $color_red-50;
      }

      &:last-child:hover {
        background: $color_blue-50;
      }
    }
  }

  &:hover > &__button {
    display: block;
  }
}

.list__table {
  &--thead {
    border-bottom: 1px solid $color_border;
  }

  &--title {
    font-size: 16px;
    font-weight: 700;
  }

  &--sub-title {
    font-weight: 600;
  }

  &--link a {
    padding: 4px 10px;
    border: 1px solid $color_blue-700;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: $color_blue-700;

    &:hover {
      opacity: 0.85;
      background-color: $color_blue-50;
    }
  }

  tbody tr {
    border-bottom: 1px solid $color_border;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: 8px;
  }

  td:not(.list__table--title, .list__table--sub-title) {
    color: $color_gray-800;
    font-size: 14px;
  }
}

.list__button--create {
  width: 220px;
  height: $create_button_height;
  position: absolute;
  bottom: $create_button_height / -2;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: $color_blue-500;
  color: $color_white;
  font-size: 14px;
  font-weight: 700;
  border-radius: $border__radius;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.125);
}
