@import './color';
@import './variables';

.list {
  padding: 36px 48px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.125);
  background-color: $color_white;
  border-radius: 4px;
}

.list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    padding: 6px 12px;
    font-size: 26px;
    font-weight: 700;
    border-radius: $border__radius;
    background-color: $color_gray-100;

    &:hover {
      background-color: $color_gray-200;
    }
  }

  input {
    width: 360px;
    height: 40px;
    border: 1px solid $color_border;
    border-radius: 20px;
    font-size: 14px;
  }
}

.list--group {
  position: relative;
  cursor: pointer;

  &__button {
    display: none;
    position: absolute;
    width: 72px;
    background: $color_white;
    box-shadow: $box__shadow;
    border-radius: $border__radius / 2;
    padding: 16px 0;
    z-index: 9;

    button {
      display: inherit;
      margin: 0 auto;
      padding: 8px 16px;
      border-radius: $border__radius / 2;

      &:first-child:hover {
        background: $color_red-50;
      }

      &:last-child:hover {
        background: $color_blue-50;
      }
    }
  }

  &:hover > &__button {
    display: block;
  }
}
