.nav {
  width: 96px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.9);
  color: $color__white;
  font-size: 14px;
  align-items: center;
  z-index: 99;

  &__box {
    height: 80px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid $color__white;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: $color__sky;
    }
  }

  &__text {
    text-transform: uppercase;
    margin: 64px 0;
    padding: 0 16px;
    display: block;
    text-align: center;
    color: $color__white;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;

    &--active {
      font-weight: 700;
      position: relative;

      &::before {
        content: '';
        width: 60%;
        max-width: 80px;
        height: 8px;
        background-color: $color__sky;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        opacity: 0.5;
      }
    }
  }

  @media (max-width: $lg) {
    width: 100%;
    height: 60px;
    top: inherit;
    bottom: 0;
    display: flex;

    &__box {
      width: 80px;
      height: auto;
      border-bottom: none;
      border-right: 1px solid $color__white;
    }

    &__text {
      flex: 0 25%;
      margin: 0;
    }
  }
}
