@import "./color";

.wrap--vertical {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap__box--lg {
  max-width: 740px;
  margin: 0 auto;
  padding: 56px 54px;

  @media only screen and (max-width: 740px) {
    box-shadow: none;
    padding: 56px 16px;
  }
}

.wrap__box--bg {
  width: calc(100% - 280px);
  min-height: calc(100vh - 90px);
  display: inline-block;
  background-color: $color_bg;
  border-left: 1px solid $color_gray-300;
}

.wrap__nav {
  width: 280px;
  height: 100%;
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 28px 16px 0;
  font-size: 18px;
  color: $color_gray-900;
}
