@import 'styles/variable';

body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.5px;
    background-color: $color__gray-80;
    margin-bottom: 60px;
}

h2, p {
    margin: 0;
}
